<%if current_user.administrator %>
	<fieldset><legend>Please Enter Oracle Credentials to Seed the Job Engine</legend>
		<%= form_for :user, :url => start_engine_path do |f| %>
			<p>
			    <label for="Oracle_id">
			        Set your Oracle ID?
			    </label>
			    <br/>
			    <%= f.text_field :oracle_id %>
			</p>
			<p>
			    <label for="Oracle password">Password</label>
			    <br/>
			    <%= f.password_field :oracle_password %>
			</p>
			<p>
              <% if JobEngine.instance.started? %>
                  <%=submit_tag "Set Credentials", :disabled=>true %>
                  <br>
                  <span style="color:red">The job engine must be stopped before the credentials can be changed!</span>
              <% else %>
                  <%=submit_tag "Set Credentials"%>
              <% end %>
			</p>
			<%= set_field_focus 'user_oracle_id' %>
		<%end %>
	</fieldset>
<% else %>
	<p>You are not authorized to set the Oracle credentials for the job engine.</p>
<% end %>

